node_modules
npm-debug.log
.git
.gitignore
*.md
!README.md
.env
.DS_Store
*.bat
fly.toml
# certs/*.pem   # Allow certs for instant startup
# certs/*.key   # Allow certs for instant startu



